<!DOCTYPE html>
<html>
<head>
	<title>Battery Meter</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>
	<h2>Battery Meter</h2>
	<div id="app">
		<meter id="progressbar" min="0" max="100" :value="percent"></meter>

		<h1><img src="icon.png" alt="Battery Icon"><span class="percent">{{ percent }}%</span></h1>

		<div v-if="isCharging" class="charging">Charging</div>
		<div v-else class="charging">Not Charging</div>

		<div v-if="cycles > 0" class="cycle">Cycle count: <strong>{{ cycles }}</strong></div>
		<div :class="{'updated': updatedInfo}">Updated</div>
	</div>

	<script src="node_modules/vue/dist/vue.min.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>